section{
    background-color: darkgray;
}
secton h2{
    text-align: center;
}
section img{
    display: block;
    margin: auto;
    width: 100%;
}
section p:hover{
    bachground-color: darkorange;


}