h1{
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.exemplo{
    color: darkred;
    font-size: 2em;
}

.f-test{
    color: forestgreen;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
