/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap&family=Nunito:wght@200&display=swap'); */

/* html{
    font-family: 'Nunito', sans-serif;
} */