*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    margin-left: 20%;
    margin-right: 20%;
}