.h-header{
    font-family: Arial, Helvetica, sans-serif;
    color: darkviolet;

}

.c-corpo{
    font-family: Arial, Helvetica, sans-serif;
    color: darkviolet;
}

.f-footer{
    font-family: Arial, Helvetica, sans-serif;

}

.t-image_treino{
    width: 100%;
}

.t-title{
    color: rgb(78, 26, 99);
}